.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--quaternary-color);
  padding: 10rem;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2.5rem 10rem;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: fit-content;
  align-items: flex-start;
}

.item {
  list-style: none;
  width: fit-content;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .content {
    padding: 0rem;
    width: 100%;
  }
  .main {
    padding: 5rem;
    width: 100%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 600px) and (max-width: 1000px) {
  .content {
    padding: 0 4rem;
  }
  .main {
    padding: 5rem;
  }
}

/* Desktop */
@media (min-width: 1000px) {
}
