@import '../styles/variables.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url("../public/background-images/backgroundMountain.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  color: var(--primary-color);
}

button {
  width: fit-content;
  height: fit-content;
  padding: 0.3rem 0.7rem;
  border: 3px solid var(--primary-color);
  background-color: transparent;
  border-radius: 0.5rem;
  color: var(--primary-color);
}

hr {
  border: 2px solid var(--secondary-color);
}

a {
  color: inherit;
  text-decoration: none;
}
