.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../public/background-images/backgroundMountain.jpg");
  background-size: cover;
  justify-content: center;
  padding: 0 15rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 0.1rem;
}

.line {
  width: 70%;
}

.btncont {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

/* Mobile */
@media (max-width: 600px) {
  
  .main {
    justify-content: center;
    padding: 0 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 600px) and (max-width: 1000px) {
  .main {
    justify-content: center;
    padding: 0 5rem;
  }
}

/* Desktop */
@media (min-width: 1000px) {

}
